---
import Layout from "../layouts/Layout.astro";
---

<Layout title="🔐Privado - Tus Retos Personales">
	<main class="max-w-xl mx-auto py-12">
		<h1 class="text-3xl font-bold">Tus Retos Personales</h1>
        <p class="mt-12"> Esta pagina está protegida y solo es accesible para usuarios autenticados. Aquí puedes ver tus retos personales.</p>
        <ul>
            <li class="mt-4">
                <a href="/challenges/1" class="text-blue-500 hover:underline">Reto 1: Leer un libro al mes</a>
            </li>
            <li class="mt-4">
                <a href="/challenges/2" class="text-blue-500 hover:underline">Reto 2: Hacer ejercicio 3 veces por semana</a>
            </li>
            <li class="mt-4">
                <a href="/challenges/3" class="text-blue-500 hover:underline">Reto 3: Aprender un nuevo idioma</a>
            </li>
        </ul>
	</main>
</Layout>